openapi: 3.1.0
info:
  title: Reducto Platform API
  version: 1.0.0
  description: Service health, version, and Prometheus / streaq metrics endpoints for operating and monitoring Reducto deployments.
  contact:
    name: Reducto Support
    email: support@reducto.ai
    url: https://reducto.ai/contact
  license:
    name: Reducto Terms of Service
    url: https://reducto.ai/terms
servers:
- url: https://platform.reducto.ai
  description: Reducto production platform
security:
- SkippableHTTPBearer: []
tags:
- name: Platform
paths:
  /health:
    get:
      summary: Health
      operationId: health_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
                title: Response Health Health Get
      tags:
      - Platform
  /version:
    get:
      summary: Get Version
      operationId: get_version_version_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
                title: Response Get Version Version Get
      tags:
      - Platform
  /prometheus:
    get:
      summary: Prometheus Metrics
      operationId: prometheus_metrics_prometheus_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Platform
  /metrics:
    get:
      summary: Metrics
      operationId: metrics_metrics_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Platform
  /streaq_metrics:
    get:
      summary: Streaq Metrics
      operationId: streaq_metrics_streaq_metrics_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Platform
components:
  schemas: {}
  securitySchemes:
    SkippableHTTPBearer:
      type: http
      scheme: bearer
