{"openapi":"3.1.0","info":{"title":"Reducto direct agent signup","version":"1.0.0","description":"Cookie-free registration for a new user at a new company. Requires an emailed code, name, and explicit terms consent. Existing accounts and companies use Studio. Standard grant: 15,000 credits."},"servers":[{"url":"https://accounts.reducto.ai"}],"security":[],"paths":{"/api/agent/accounts":{"post":{"operationId":"requestAgentSignup","summary":"Check eligibility and email a verification code","description":"No account or billing records are created. Codes expire after 10 minutes; five incorrect attempts. Resending supersedes the previous challenge. Wait 60 seconds between sends; five/email/hour, ten/IP/hour. Responses and tokens must not be logged.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["email"],"properties":{"email":{"type":"string","format":"email","maxLength":254}}}}}},"responses":{"200":{"description":"Code sent","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}}},"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["signup_token","expires_at","resend_after","terms_url","privacy_url"],"properties":{"signup_token":{"type":"string","pattern":"^[A-Za-z0-9_-]{43}$"},"expires_at":{"type":"string","format":"date-time"},"resend_after":{"type":"integer","const":60},"terms_url":{"type":"string","format":"uri"},"privacy_url":{"type":"string","format":"uri"}}}}}},"400":{"description":"Show error.message and error.field in the terminal. Correct invalid_input or ask for the emailed code on invalid_code. If error.restart_required is true, start a new code request after corrections and the resend cooldown.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Show the email-policy reason in error.message and ask for an eligible work email. Retry signup with that email.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Continue in Studio. Show error.message and studio_url to the user; joining an existing organization requires Studio.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"410":{"description":"Show error.message and request a new verification code after the resend cooldown.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Show error.message and wait Retry-After seconds before retrying.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Show error.message and retry the same request after Retry-After. Respect the resend cooldown for an interrupted initial code request.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/agent/accounts/verify":{"post":{"operationId":"verifyAgentSignup","summary":"Verify consent and ownership, provision, and deliver the API key","description":"Repeat the identical request after Retry-After until 200. Do not start a second signup while provisioning. Successful delivery is encrypted at rest for 10 minutes; only the original verification request can retrieve it again. After delivery expiry use Studio; no key recovery or rotation here.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["signup_token","code","first_name","last_name","terms_accepted"],"properties":{"signup_token":{"type":"string","pattern":"^[A-Za-z0-9_-]{43}$"},"code":{"type":"string","pattern":"^[0-9]{6}$"},"first_name":{"type":"string","minLength":1,"maxLength":100},"last_name":{"type":"string","minLength":1,"maxLength":100},"terms_accepted":{"type":"boolean","const":true}}}}}},"responses":{"200":{"description":"Provisioned. Store api_key privately as REDUCTO_API_KEY; never print or commit the response.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}}},"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["api_key","api_key_id","org_id","credits_granted","expires_at","studio_url"],"properties":{"api_key":{"type":"string"},"api_key_id":{"type":"string"},"org_id":{"type":"string"},"credits_granted":{"type":"integer","const":15000},"expires_at":{"type":"string","format":"date-time"},"studio_url":{"type":"string","format":"uri"}}}}}},"202":{"description":"Provisioning. Wait, then repeat the identical request.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["status","retry_after"],"properties":{"status":{"type":"string","const":"provisioning"},"retry_after":{"type":"integer","minimum":1}}}}}},"400":{"description":"Show error.message and error.field in the terminal. Correct invalid_input or ask for the emailed code on invalid_code. If error.restart_required is true, start a new code request after corrections and the resend cooldown.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Show the email-policy reason in error.message and ask for an eligible work email. Retry signup with that email.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Continue in Studio. Show error.message and studio_url to the user; joining an existing organization requires Studio.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"410":{"description":"Show error.message and request a new verification code after the resend cooldown.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Show error.message and wait Retry-After seconds before retrying.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Show error.message and retry the same request after Retry-After. Respect the resend cooldown for an interrupted initial code request.","headers":{"Cache-Control":{"schema":{"type":"string","const":"no-store"}},"Retry-After":{"schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"Error":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["invalid_input","invalid_code","verification_expired","signup_restricted","studio_required","rate_limited","temporarily_unavailable"]},"message":{"type":"string","description":"Human-readable error and next steps. Display in the agent's terminal."},"field":{"type":"string","description":"The request field to correct, when applicable."},"restart_required":{"type":"boolean","description":"User creation rejected these fields. Correct them and request a new signup code after the resend cooldown."}}},"retry_after":{"type":"integer","minimum":1},"studio_url":{"type":"string","format":"uri"}}}}},"externalDocs":{"url":"https://reducto.ai/auth.md"}}